<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuliia.diploma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".models.AppController"
        android:allowBackup="true"
        android:icon="@drawable/foxlogo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.user_profile" />
        <activity
            android:name=".navigation.Navigation"
            android:theme="@style/AppTheme" />
        <activity android:name=".navigation.ListLayoutSingle" />
        <activity android:name=".navigation.FriendsLayoutSingle" />
        <activity android:name=".navigation.FriendsLists" />
        <activity android:name=".views.SingleListView" />
        <activity android:name=".views.ItemLayout" />
        <activity android:name=".views.ItemLayoutEdit" />
        <activity android:name=".views.SearchinLayout" />
        <activity android:name=".views.ProductItem" />
        <activity android:name=".views.Registration" />
        <activity android:name=".views.ItemsLayout" />
        <activity android:name=".views.ItemLayoutSingle" />
        <activity android:name=".views.CreatingNewList" />
        <activity android:name=".views.AddingNewItem" />
        <activity android:name=".views.ProductView" />
        <activity android:name=".views.CharList" />
        <activity android:name=".views.WelcomeSurvey" />
        <activity android:name=".bottom_sheet"></activity>
    </application>

</manifest>