<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuliia.diploma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".models.AppController"
        android:allowBackup="true"
        android:icon="@drawable/foxlogo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.user.LoginActivity" />
        <activity android:name=".views.user.user_profile" />
        <activity
            android:name=".navigation.Navigation"
            android:theme="@style/AppTheme" />
        <activity android:name=".navigation.ListLayoutSingle" />
        <activity android:name=".navigation.FriendsLayoutSingle" />
        <activity android:name=".navigation.FriendsLists" />
        <activity android:name=".views.lists.SingleListView" />
        <activity android:name=".views.lists.ItemLayout" />
        <activity android:name=".views.lists.ItemLayoutEdit" />
        <activity android:name=".views.products.ProductItem" />
        <activity android:name=".views.user.Registration" />
        <activity android:name=".views.lists.ItemsLayout" />
        <activity android:name=".views.lists.ItemLayoutSingle" />
        <activity android:name=".views.CreatingNewList" />
        <activity android:name=".views.lists.AddingNewItem" />
        <activity android:name=".views.products.ProductView" />
        <activity android:name=".views.products.CharList" />
        <activity android:name=".views.lists.ListLAyoutSingleSmall" />
        <activity android:name=".views.products.Comparing" />
        <activity android:name=".recyclers.comparing_recycler" />
        <activity android:name=".views.user.survey_single" />
        <activity android:name=".views.lists.EditList"></activity>
    </application>

</manifest>